* {
    margin: 0 auto;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
    font-family: 'Exo 2', sans-serif;
    max-width: 100%;
width: 100%;






  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;

    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    background-image: linear-gradient( 135deg,#d54dff 10%, #c471ed, #f64f59 100%);
    background-size: 800% 800%;
    animation: Gradient 25s ease infinite;
    
    }
   
    @keyframes Gradient 
    {
       0% {
           background-position:0% 50% ;
       }
       50% {
           background-position:100% 50% ;
       }
       100% {
           background-position:0% 50% ;
       }
    }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;

    border: none;
    border-radius: 5px;
    background-image: linear-gradient( 135deg,#d54dff 10%, #c471ed, #f64f59 100%);
    background-size: 800% 800%;
    animation: Gradient 25s ease infinite;
    
    }
   
    @keyframes Gradient 
    {
       0% {
           background-position:0% 50% ;
       }
       50% {
           background-position:100% 50% ;
       }
       100% {
           background-position:0% 50% ;
       }
    }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }




  @media only screen and (max-width: 768px) {


    .header {
      width: 75%;
      margin: 50px auto 0px;
      color: white;
  
      text-align: center;
      border: 1px solid #B0C4DE;
      border-bottom: none;
      border-radius: 10px 10px 0px 0px;
      padding: 20px;
      background-image: linear-gradient( 135deg,#d54dff 10%, #c471ed, #f64f59 100%);
      background-size: 800% 800%;
      animation: Gradient 25s ease infinite;
      
      }
     
      @keyframes Gradient 
      {
         0% {
             background-position:0% 50% ;
         }
         50% {
             background-position:100% 50% ;
         }
         100% {
             background-position:0% 50% ;
         }
      }
    form, .content {
      width: 75%;
      margin: 0px auto;
      padding: 20px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      background: white;
      border-radius: 0px 0px 10px 10px;
    margin-bottom: 50px;
    }


    .input-group {
      margin: 10px 0px 10px 0px;
    }
    .input-group label {
      display: block;
      text-align: left;
      margin: 3px;
    }
    .input-group input {
      height: 30px;
      width: 93%;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid gray;
    }
    .btn {
      padding: 10px;
      font-size: 15px;
      color: white;
  
      border: none;
      border-radius: 5px;
      background-image: linear-gradient( 135deg,#d54dff 10%, #c471ed, #f64f59 100%);
      background-size: 800% 800%;
      animation: Gradient 25s ease infinite;
      
      }
     
      @keyframes Gradient 
      {
         0% {
             background-position:0% 50% ;
         }
         50% {
             background-position:100% 50% ;
         }
         100% {
             background-position:0% 50% ;
         }
      }
    .error {
      width: 92%; 
      margin: 0px auto; 
      padding: 10px; 
      border: 1px solid #a94442; 
      color: #a94442; 
      background: #f2dede; 
      border-radius: 5px; 
      text-align: left;
    }
    .success {
      color: #3c763d; 
      background: #dff0d8; 
      border: 1px solid #3c763d;
      margin-bottom: 20px;
    }
  
  }

  @media only screen and (max-width: 320px) {
  
  }